{
    "presets": [
        [
            "@babel/preset-env",
            {
                // "targets": {
                //     "chrome": 58,
                //     "edge": 40
                // },
                // "modules": false,
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react",
        "@emotion/babel-preset-css-prop"
    ],
    "plugins": ["react-hot-loader/babel"]
}
